<div class="main messages-index">
  <div class="container">
    <h1 class="form-heading">メッセージ</h1>

    <% @messages.each do |message| %>
    <div class="messages-index-item">
      <%= render 'show_message', message: message, user: @current_user %>
    </div>
    <% end %>
  </div>
</div>