<div class="main messagess-show">
  <div class="container">
    <div class="messages-show-item">
      <%= render 'show_message', message: @message, user: @current_user %>
    </div>
    <% if @message.sent_by?(@current_user) %>
    <div class="message-menus">
      <%= link_to "編集" , edit_message_url(@message) %>
      <%= link_to "削除" , message_url(@message), :method => :delete %>
    </div>
    <% end %>
  </div>
</div>